.student-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

.student-table-header {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #138496;
    color: white;
    border: 1px solid #ccc;
    padding: 8px;
}

.student-table-odd-row {
    background-color: white;
}

.student-table-even-row {
    background-color: #ececec;
}