<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Conditional navigation with Managed Beans</title>
    </h:head>
    <h:body>
        <h:form>
            Select a tour: 
            <h:selectOneMenu value="#{tourBean.kindOfTour}">
                <f:selectItem itemValue="city" itemLabel="City"/>
                <f:selectItem itemValue="country" itemLabel="Country"/>
            </h:selectOneMenu>
            <br/><br/>
            <h:commandButton value="Submit" action="#{tourBean.startTheTour()}"/>
        </h:form>
    </h:body>
</html>

