<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>JSF Hello World</title>
    </h:head>
    <h:body>
        <h:form>
            <h:inputText id="name" value="${username}" a:placeholder="Enter your username"/>
            <h:commandButton value="Submit" action="hello-world-response"/>
        </h:form>
    </h:body>
</html>