<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>JSF Udemy Course</title>
    </h:head>
    <h:body>
        
        <p>Demo</p>
        <ul>
            <li><a href="faces/hello-world.xhtml">Hello World</a></li>
            <li><a href="faces/demo-form.xhtml">Form Demo</a></li>
        </ul>
        
        <p>Managed Beans</p>
        <ul>
            <li><a href="faces/mb-student-form.xhtml">Student Form</a></li>
            <li><a href="faces/cn-tour-form.xhtml">Conditional Navigation</a></li>
        </ul>
        
        <p>Validating Forms</p>
        <ul>
            <li><a href="faces/validation-student-form.xhtml">Validating Demo - Student Form</a></li>
            <li><a href="faces/validation-regex.xhtml">Validating with Regex</a></li>
            <li><a href="faces/validation-custom.xhtml">Custom Validation</a></li>
        </ul>
        
        <p>Scopes</p>
        <ul>
            <li><a href="faces/scope-application.xhtml">Application Scope</a></li>
            <li><a href="faces/scope-session.xhtml">Session Scope</a></li>
            <li><a href="faces/scope-request.xhtml">Request Scope</a></li>
        </ul>
        
        <p>UI</p>
        <ul>
            <li><a href="faces/ui-list.xhtml">List</a></li>
            <li><a href="faces/ui-table.xhtml">Table</a></li>
        </ul>
        
    </h:body>
</html>