<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Student Confirmation</title>
    </h:head>
    <h:body>
        <h3>Student confirmed</h3>
        <p><b>#{student.firstName} #{student.lastName}</b> from <b>#{student.country}</b></p>
        <p>Department: <b>#{student.department}</b></p>
        <p>Favorite programming languages:</p>
        <ul>
            <ui:repeat var="language" value="#{student.favLanguages}">
                <li><b>#{language}</b></li>
            </ui:repeat>
        </ul>
    </h:body>
</html>