<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Student Form</title>
    </h:head>
    <h:body>
        <h:form>
            First Name: <h:inputText id="firstName" value="#{student.firstName}"/>
            <br/><br/>
            Last Name: <h:inputText id="lastName" value="#{student.lastName}"/>
            <br/><br/>
            Country
            <h:selectOneMenu value="#{student.country}">
                <f:selectItems value="#{student.countryOptions}"/>
            </h:selectOneMenu>
            <!-- Alternative (original way)
            <h:selectOneMenu value="#{student.country}">
                <f:selectItem itemValue="Brazil" itemLabel="Brazil"/>
                <f:selectItem itemValue="France" itemLabel="France"/>
                <f:selectItem itemValue="Spain" itemLabel="Spain"/>
                <f:selectItem itemValue="Japan" itemLabel="Japan"/>
                <f:selectItem itemValue="Russia" itemLabel="Russia"/>
            </h:selectOneMenu>
            -->
            <br/><br/>
            Department: 
            <h:selectOneRadio value="#{student.department}">
                <f:selectItem itemValue="SE" itemLabel="SE"/>
                <f:selectItem itemValue="IT" itemLabel="IT"/>
                <f:selectItem itemValue="IS" itemLabel="IS"/>
            </h:selectOneRadio>
            <br/><br/>
            Favorite programming languages 
            <h:selectManyCheckbox value="#{student.favLanguages}">
                <f:selectItem itemValue="Java" itemLabel="Java"/>
                <f:selectItem itemValue="C#" itemLabel="C#"/>
                <f:selectItem itemValue="PHP" itemLabel="PHP"/>
                <f:selectItem itemValue="Ruby" itemLabel="Ruby"/>
                <f:selectItem itemValue="Perl" itemLabel="Perl"/>
            </h:selectManyCheckbox>
            <br/>
            <h:commandButton value="Submit" action="mb-student-confirmation"/>
        </h:form>
    </h:body>
</html>