<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Session Scope</title>
    </h:head>
    <h:body>
        <p>Counter value: #{counterTwo.value}</p>
        <br/>
        <h:form>
            <h:commandButton value="Increment" action="#{counterTwo.increment()}"/>
        </h:form>
        <br/>
        <p><a href="index.xhtml">Back</a></p>
    </h:body>
</html>

