<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>UI - List Demo</title>
    </h:head>
    <h:body>
        <h3>Students List</h3>
        <hr/>
        <ul>
            <ui:repeat var="student" value="#{studentData.students}">
                <li>#{student.firstName} #{student.lastName}</li>
            </ui:repeat>
        </ul>
    </h:body>
</html>