<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>UI - Table Demo</title>
        <h:outputStylesheet name="css/student_table.css" />
    </h:head>
    <h:body>
        <h3>Students List</h3>
        <hr/>
        <h:dataTable var="student" value="#{studentData.students}" border="1" styleClass="student-table" headerClass="student-table-header" rowClasses="student-table-even-row,student-table-odd-row">
            <h:column>
                <f:facet name="header">First Name</f:facet>
                #{student.firstName}
            </h:column>
            <h:column>
                <f:facet name="header">Last Name</f:facet>
                #{student.lastName}
            </h:column>
        </h:dataTable>
    </h:body>
</html>