<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Validating with Regex</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </h:head>
    <h:body>
        <h:form>
            <!-- <h:messages styleClass="error" /> -->
            
            First Name: <h:inputText id="firstName" value="${studentTwo.firstName}" label="First Name" required="true" requiredMessage="First name is required!"/>
            <h:message for="firstName" styleClass="error" />
            <br/><br/>
            
            Last Name: <h:inputText id="lastName" value="${studentTwo.lastName}" label="Last Name" required="true" requiredMessage="Last name is mandatory!"/>
            <h:message for="lastName" styleClass="error" />
            <br/><br/>
            
            Phone number: 
            <h:inputText id="phoneNumber" value="#{studentTwo.phoneNumber}" label="Phone number" validatorMessage="Phone number must follow xxx-xxx-xxxx">
                <f:validateRegex pattern="\d{3}-\d{3}-\d{4}"/>
            </h:inputText>
            <h:message for="phoneNumber" styleClass="error" />
            <br/><br/>
            
            <h:commandButton value="Submit" action="validation-regex-response"/>
        </h:form>
    </h:body>
</html>

