<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Validation Demo</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </h:head>
    <h:body>
        <h:form>
            <!-- <h:messages styleClass="error" /> -->
            
            First Name: <h:inputText id="firstName" value="${studentTwo.firstName}" label="First Name" required="true" requiredMessage="First name is required!"/>
            <h:message for="firstName" styleClass="error" />
            <br/><br/>
            
            Last Name: <h:inputText id="lastName" value="${studentTwo.lastName}" label="Last Name" required="true" requiredMessage="Last name is mandatory!"/>
            <h:message for="lastName" styleClass="error" />
            <br/><br/>
            
            Email: <h:inputText id="email" value="${studentTwo.email}" label="Email" required="true" requiredMessage="You must give your email!"/>
            <h:message for="email" styleClass="error" />
            <br/><br/>
            
            Free Passes: 
            <h:inputText id="freePasses" value="#{studentTwo.freePasses}" label="Free Passes">
                <f:validateLongRange minimum="0" maximum="5" />
            </h:inputText>
            <h:message for="freePasses" styleClass="error" />
            <br/><br/>
            
            Postal Code: 
            <h:inputText id="postalCode" value="#{studentTwo.postalCode}" label="Postal Code">
                <f:validateLength minimum="5" maximum="5" />
            </h:inputText>
            <h:message for="postalCode" styleClass="error" />
            <br/><br/>
            
            <h:commandButton value="Submit" action="validation-student-response"/>
        </h:form>
    </h:body>
</html>

