<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Custom Validation</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </h:head>
    <h:body>
        <h:form>
            <!-- <h:messages styleClass="error" /> -->
            
            First Name: <h:inputText id="firstName" value="${studentTwo.firstName}" label="First Name" required="true" requiredMessage="First name is required!"/>
            <h:message for="firstName" styleClass="error" />
            <br/><br/>
            
            Last Name: <h:inputText id="lastName" value="${studentTwo.lastName}" label="Last Name" required="true" requiredMessage="Last name is mandatory!"/>
            <h:message for="lastName" styleClass="error" />
            <br/><br/>
            
            Course Code: 
            <h:inputText id="courseCode" value="#{studentTwo.courseCode}" label="Course code" validator="#{studentTwo.validateTheCourseCode}" />
            <h:message for="courseCode" styleClass="error" />
            <br/><br/>
            
            <h:commandButton value="Submit" action="validation-custom-response"/>
        </h:form>
    </h:body>
</html>

