<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Validation Demo - Response</title>
    </h:head>
    <h:body>
        <h3>Student confirmed</h3>
        <p>#{studentTwo.firstName} #{studentTwo.lastName}</p>
        <p>Email: #{studentTwo.email}</p>
        <p>Free Passes: #{studentTwo.freePasses}</p>
        <p>Postal Code: #{studentTwo.postalCode}</p>
    </h:body>
</html>

